<Sider Collapsible Collapsed=@collapsed OnCollapse=@onCollapse>
    <div class="logo" />
    <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
        <MenuItem Key="1">
            <Icon Type="pie-chart" Theme="outline" />
            <span>Counter</span>
        </MenuItem>
        <MenuItem Key="2">
            <Icon Type="desktop" Theme="outline" />
            <span>Option 2</span>
        </MenuItem>

        <MenuItem Key="9">
            <Icon Type="file" Theme="outline" />
        </MenuItem>
    </Menu>
</Sider>

@code {
    bool collapsed;

    void onCollapse(bool collapsed)
    {
        Console.WriteLine(collapsed);
        this.collapsed = collapsed;
    }
}