@page "/"

<PageTitle>Super Tracker App</PageTitle>

<Title Level="1">Introduction</Title>
<Paragraph>In the process of internal desktop applications development, many different design specs and implementations would be involved, which might cause designers and developers difficulties and duplication and reduce the efficiency of development.</Paragraph>

<Divider />

<GridRow>
    <GridCol Span="12">col-12</GridCol>
    <GridCol Span="12">col-12</GridCol>
</GridRow>